*{
    box-sizing: border-box;
}

#topic{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding-top: 2%;
    padding-bottom: 5px;
    padding-left: 20px;
}

#summaryBox{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    height: 350px;
    margin-left:10%;
    margin-right: 10%;
}