*{
    box-sizing: border-box;
}

#topic{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding-top: 2%;
    padding-bottom: 5px;
    padding-left: 20px;
}

.mapContainer{
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 14px;
}