*{
    box-sizing: border-box;
}

#centerBox{
    position: relative;
    height: auto;
    margin-top: 10%;
}

#countryUser,#dateUser,#timeUser{
    text-align: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: white;
    font-size: large;
    font-weight: 500;
}

#topic{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding-top: 2%;
    padding-bottom: 5px;
    padding-left: 20px;
}