*{
    box-sizing: border-box;
}

#topic{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding-top: 2%;
    padding-bottom: 5px;
    padding-left: 20px;
}

.tripdata{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;
}