* {
    box-sizing: border-box;
}

.header-container {
    text-align: center;
    margin-top: 5%;
}

.logo {
    width: 3%;
}

.heading {
    font-size: 45px;
    font-weight: bold;
    margin: auto;
}

.page-content {
    min-height: 100vh;
}

.form-container {
    margin: 10% 5%;
}

input {
    margin: 5% 0;
}

label {
    font-size: large;
    font-weight: bold;
}

select {
    width: 100%;
    height: 5vh;
}

.form-label {
    margin: 0;
}

.form-button-container {
    margin-top: 5%;
    text-align: center;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
